<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hossainkhan.vision">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity-alias
            android:name=".HkVisionLauncherActivity"
            android:enabled="@bool/enable_launcher"
            android:targetActivity=".HkVisionRedirectActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity
            android:name=".HkVisionRedirectActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name=".muzei.HkVisionArtProvider"
            android:authorities="${hkVisionAuthority}"
            android:description="@string/description"
            android:exported="true"
            android:label="@string/name"
            android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider" />
            </intent-filter>
        </provider>

        <!--
            Provides a prebuilt DocumentsProvider that allows users to browse and
            select images from your MuzeiArtProvider via the default file picker and Files app.

            See https://github.com/romannurik/muzei/releases/tag/api3.4.0-alpha3
        -->
        <provider
            android:name="com.google.android.apps.muzei.api.provider.MuzeiArtDocumentsProvider"
            android:authorities="${hkVisionAuthority}.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
    </application>

</manifest>